<div class="center">
  <div class="login">
    <input type="text" name="username" placeholder="Nom d'utilisateur" />
    <input type="password" name="password" placeholder="Mot de passe" />
    <input
      class="connection"
      type="submit"
      name="seConnecter"
      value="Se connecter"
      [routerLink]="['/partie']"
    />
    <input
      class="pasInscrit"
      type="button"
      name="pasEncoreInscrit"
      value="pas encore inscrit ?"
    />
    <!-- <input type="submit" name="pasEncoreInscrit" value="pas encore inscrit ?" />-->
    <input
      class="mdpoublie"
      type="submit"
      name="mdpOublie"
      value="mot de passe oublié ?"
    />
  </div>
</div>
