<div class="center">
  <form (ngSubmit)="submit()" [formGroup]="form">

    <br />
    <ng-container formGroupName="infoGrp">
      <input formControlName="loginCtrl" [(ngModel)]="login" /><br />
      <input formControlName="passwordCtrl"  [(ngModel)]="password"  />

      <br />
    </ng-container>
    <button type="submit" >se connecter</button>

    <input
      class="pasInscrit"
      type="button"
      name="pasEncoreInscrit"
      value="pas encore inscrit ?"
    />
    <!-- <input type="submit" name="pasEncoreInscrit" value="pas encore inscrit ?" />-->
    <input
      class="mdpoublie"
      type="submit"
      name="mdpOublie"
      value="mot de passe oublié ?"
    />
  </form>
</div>



