<div class="center">
  <div class="login">
    <input type="text" name="username" placeholder="Nom d'utilisateur" />
    <input type="password" name="password" placeholder="Mot de passe" />
    <input type="submit" name="seConnecter" value="Se connecter" />
    <input
      type="button"
      name="pasEncoreInscrit"
      onclick="window.location.href = 'Inscription.html';"
      value="pas encore inscrit ?"
    />
    <!-- <input type="submit" name="pasEncoreInscrit" value="pas encore inscrit ?" />-->
    <input type="submit" name="mdpOublie" value="mot de passe oublié ?" />
  </div>
</div>
