form.login {
  grid-column: 2;
  grid-row: 3;
  padding: 4vh;
  border-radius: 3px;
  display: block;
  position: relative;
  width: 100vh;
}

form.login {
  display: grid;
  align-content: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: start;
  position: fixed;
}

form.login input,.seConnecter {
  display: block;
  width: auto;
  font-size: 18px;
  line-height: 50px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-align: center;
}

form.login input[type="text"],
.seConnecter {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 30px;
  background: #e6e6e6;
  color: #686868;
  margin-top: 10px;
}

form.login input::placeholder {
  color: #acacac;
  right: 10px;
}

.seConnecter{
  display: inline-block;
  font-weight: bold;
  padding: 0 25px;
  background: #385ab9;
  color: white;
  text-transform: uppercase;
  transition: all 0.4s;
  cursor: pointer;

}

form.login input[name="pasEncoreInscrit"] {
  display: inline-block;
  font-weight: bold;
  background: #385ab9;
  color: white;
  text-transform: uppercase;
  transition: all 0.4s;
  cursor: pointer;
  margin-top: 10px;
  padding: 0 25px;

}
form.login input[name="mdpOublie"] {
  font-weight: bold;
  padding: 0 25px;
  background: #a9afbe;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  transition: all 0.4s;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  visibility: hidden;

}

.login input[type="submit"]:hover,
.login input[type="button"]:hover {
  background: #333333;
}

a:hover {
  background: #2c2c2c;
}

.login input[type="submit"]:active,
.login input[type="button"]:active {
  background: #385ab9;
}
