<body>
  <img class="Wallpaper" src="assets/images/Wallpaper.jpg" />

  <header class="eventsHeader">
    <div class="titre">Le voyageur malchanceux</div>
    <div class="accueil" *ngIf="router.url === '/accueil'">
      <div class="buttons">
        <a
          class="bconnection"
          [routerLink]="['/jeu']"
          routerLinkActive="active"
        >
          Se connecter</a
        >
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>

  <footer class="eventFooter">
    <div class="textcredits">
      "Le voyageur malchanceux" : Made By John Mendy, Clotilde Zenone, Mahmoud
      Moussaoui and Badis Ghoubali. 2022©
    </div>
  </footer>
</body>
