<div class="container-accueil">
  <img class="imgaccueil" src="assets/images/accueil.png" />
  <p>Bienvenue sur le jeu du Voyageur Malchanceux !</p>
  <p>
    Vous adorez voyager ? Les organiser, prendre vos billets d'avion, faire vos
    valises et gérer les galères qui vont avec...
  </p>
  <p>
    Le jeu du voyageur reprend le concept du "livre donc vous êtes le héros" :
    vous êtes un voyageur organisant votre voyage aux îles et les multiples
    péripéties au cours du voyage vous permettront d'arriver (ou non) à
    destination.
  </p>
  <p>
    Lors de votre aventure, vous avez accès à un inventaire où vous pourrez
    stocker des objets qui pourront vous être utile.
  </p>
  <p>Alors, prêt pour le grand départ ?</p>
  <p></p>
</div>
