body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 60px auto 60px  50px;
    grid-template-columns: 200px auto 200px;
}
header, footer {
    grid-column: 1 /span 3;
    grid-row: 1;


}

footer {

    grid-row: 5;
    line-height:normal;
    opacity: 60%;
    background: rgb(30, 30, 30);


}

.btnaccueil{
    font-weight:bold;
    padding: 5px;
    background: #214fcc;
    color: white;
    grid-row: 1;
    grid-column: 3;
    text-decoration: none;
    text-align: center;
    border-radius : 3px;
    margin : 5px;

}
header {

    background: rgb(46, 46, 46);
}


.titre{
    opacity: 60%;
    font-size: 30px;
    opacity:100%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 8px;
}

.textcredits{
    opacity:100%;
    color: rgb(255, 255, 255);
    font-weight:normal;
    font-size : 100%;
    text-align : center;
    padding: 8px;

}


.login {
    grid-column: 2;
    grid-row: 3;
    padding: 100px;

    border-radius: 3px;
    background: white;
    margin-top: 10%;
    margin-bottom: 10%;

}

.login input {
    display: block;
    width: auto;
    font-size: 18px;
    line-height: 50px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 30px;
    background: #e6e6e6;
    color: #686868;
    margin-top: 10px;

}

.login input::placeholder {
    color: #acacac;
}

.login input[name="Enregistrer"] {
    display: inline-block;
    font-weight:bold;
    padding: 0 25px;
    background: #385ab9;
    color: white;
    text-transform: uppercase;
    transition: all 0.4s;
    cursor: pointer;
    margin-top: 30px;
    width: 100%;


}

.login input[name="mdpOublie"] {
    font-weight:bold;
    padding: 0 25px;
    background: #a9afbe;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    transition: all 0.4s;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.login input[type="submit"]:hover {
    background: #333333;
}