.Inscription,
.Enregistrer {
  grid-column: 2;
  grid-row: 3;
  padding-left: 70vh;
  padding-right: 70vh;

  border-radius: 3px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.Inscription input,
.Enregistrer {
  display: block;
  width: auto;
  font-size: 18px;
  line-height: 50px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.Inscription input {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 30px;
  background: #e6e6e6;
  color: #686868;
  margin-top: 10px;
}

.Inscription input::placeholder,
.Enregistrer {
  color: #acacac;
}

.Enregistrer {
  display: inline-block;
  font-weight: bold;
  padding: 0 25px;
  background: #385ab9;
  color: white;
  text-transform: uppercase;
  transition: all 0.4s;
  cursor: pointer;
  margin-top: 30px;
  width: 100%;
}

.PageCNX {
  opacity: 60%;
  font-size: 30px;
  opacity: 100%;
  color: rgb(255, 255, 255);
  grid-row: 2;
  grid-column: 1 / span 3;
}
.Inscription input[type="submit"]:hover {
  background: #333333;
}
a:hover {
  background: #333333;
}
