<form class=Inscription (ngSubmit)="submit()" [formGroup]="form">
 <!-- <div class ="PageCNX">Page d'inscription :</div>-->
  <input type="text" name="Nom" placeholder="Nom " [(ngModel)]="nom"/>
  <input type="text" name="Prenom" placeholder="Prenom" [(ngModel)]="prenom"/>
  <input formControlName="emailCtrl" type="text" name="Email" placeholder="Email" [(ngModel)]="email" />
  <input formControlName="passwordCtrl" type="password" name="password" placeholder="Mot de passe" [(ngModel)]="password" />
<!--  <input type="password" name="password" placeholder="Confirmer le mot de passe" />-->
  <button class="Enregistrer" type="submit">Enregistrer</button>


</form>
<!-- <div class="form-group"><div for="nom"></div>label><input formControlName="nom"  /></div>
