<form class =Inscription (ngSubmit)="submit()" [formGroup]="form">
  <div class ="PageCNX">Page d'inscription :</div>
  <div class="form-group">
    <input
      formControlName="loginCtrl"
      placeholder="Login"
    />

      <div class="alert alert-danger" *ngIf="form.get('loginCtrl')?.dirty &&
      form.get('loginCtrl')?.invalid">email obligatoire</div>
  </div>
  <div class="form-group">
    <input
      formControlName="passwordCtrl"
      type="password"
      placeholder="Password"/>
      <div class="alert alert-danger" *ngIf="form.get('passwordCtrl')?.dirty &&
      form.get('passwordCtrl')?.invalid">Mot de passe obligatoire</div>
  </div>


  <button class="Enregistrer" type="submit">Enregistrer</button>

<form>
