button {
  background: rgb(34, 19, 240);
  border: none;
  outline: none;
  border-radius: 4px;
  height: 40px;
  padding: 0px 0px;
  color: white;
}

button > a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.deconnexion {
  z-index: 2;
  position: absolute;
  right: 30px;
}

.nouvellePartie {
  margin-top: 2vh;
  position: relative;
  width: 700px;
}

.nouvellePartie > a {
  font-size: 20px;
}

.boutonVersPartie {
  width: 70px;
}

.boutonVersPartie > a {
  font-size: 12px;
}

.supprimerPartie {
  width: 90px;
  background: red;
}

.tabs {
  display: flex;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.parties,
.stats {
  margin-top: 2vh;
  display: grid;
  grid-template-areas:
    "titre"
    "table";
  row-gap: 0px;
}

.parties > h5,
.stats > h5 {
  grid-area: "titre";
  margin-bottom: 0;
  font-size: 16px;
}

.enCours,
.statistiques {
  height: 220px;
  width: 1000px;
  border: 1.2vh ridge rgb(105, 105, 105);
  background: rgba(255, 255, 255, 0.5);
  grid-area: "table";
}

.enCours {
  overflow-y: auto;
}

table.partiesEnCours {
  border-spacing: 2vh 1vw;
}

table.tableStat {
  border-spacing: 5vh;
}

td.leftHeader {
  font-weight: bold;
}
