<div class="tabs">
  <button class="nouvellePartie" routerLinkActive="active">
    <a [routerLink]="['/questionnaire']" routerLinkActive="active">
      Nouvelle Partie</a
    >
  </button>

  <div class="parties">
    <h5>Parties en cours</h5>
    <div class="enCours">
      <table class="partiesEnCours">
        <tr>
          <th></th>
          <th>Personnage</th>
          <th>Date</th>
          <th>Heure</th>
          <th></th>
        </tr>
        <!--tr *ngFor="let p of compte?.parties"-->
        <tr *ngFor="let p of parties">
          <td>
            <button class="boutonVersPartie">
              <a routerLink="/jeu/{{ p.id }}" routerLinkActive="active"
                >Charger</a
              >
            </button>
          </td>
          <td>
            {{ p.personnage?.nom | uppercase }} {{ p.personnage?.prenom }}
          </td>
          <td>
            {{ p.date | date: "y:MM:dd" }}
          </td>
          <td>{{ p.date | date: "h:mm:ss" }}</td>
          <td>
            <button class="supprimerPartie" (click)="delete(p.id!)">
              Supprimer
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="stats">
    <h5>Statistiques</h5>
    <div class="statistiques">
      <table class="tableStat">
        <tbody>
          <tr>
            <td class="leftHeader" colspan="2">Nombres de parties jouées :</td>
            <td class="compteur">{{ parties.length }}</td>
          </tr>
          <tr>
            <td class="leftHeader" colspan="2">
              Nombres de parties terminés :
            </td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
