:root {
  --margin: 4vw;
  --largeur-stats-inventaire: 22vw;
  --top-interface: 22.5vh;
  --height-interface: 67vh;
}

.titre {
  font-size: 4vh;
  opacity: 100%;
  color: rgb(255, 255, 255);
  z-index: 2;
  position: absolute;
}

.TitreStats {
  display: flex;
  position: absolute;
  z-index: 2;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  height: 8vh;
  width: var(--largeur-stats-inventaire);
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  left: var(--margin);
  top: 13vh;
  font-size: 4vh;
  font-weight: bold;
  border: 1.2vh ridge rgb(105, 105, 105);
}

.TitreInventaire {
  display: flex;
  position: absolute;
  z-index: 2;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  height: 8vh;
  width: var(--largeur-stats-inventaire);
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  z-index: 1;
  right: var(--margin);
  top: 13vh;
  font-size: 4vh;
  font-weight: bold;
  border: 1.2vh ridge rgb(105, 105, 105);
}

div.TitrePartie {
  display: flex;
  position: absolute;
  z-index: 2;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  height: 8vh;
  width: calc(97.6vw - 2 * (var(--margin) + var(--largeur-stats-inventaire)));
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  z-index: 1;
  left: calc(var(--margin) + var(--largeur-stats-inventaire) + 0.6vw);
  top: 13vh;
  font-size: 4vh;
  font-weight: bold;
  border: 1.2vh ridge rgb(105, 105, 105);
}

div.InterfaceStats {
  position: absolute;
  z-index: 2;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  height: var(--height-interface);
  width: var(--largeur-stats-inventaire);
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  left: var(--margin);
  top: var(--top-interface);
  font-size: 2vh;
  font-weight: bold;
  border: 1.2vh ridge rgb(105, 105, 105);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

div.InterfacePartie {
  display: flex;
  position: absolute;
  z-index: 2;
  opacity: 100%;
  height: var(--height-interface);
  width: calc(97.6vw - 2 * (var(--margin) + var(--largeur-stats-inventaire)));
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  z-index: 1;
  left: calc(var(--margin) + var(--largeur-stats-inventaire) + 0.6vw);
  top: var(--top-interface);
  font-size: 4vh;
  font-weight: bold;
  border: 1.2vh ridge rgb(105, 105, 105);
  flex-direction: column;
}

div.InterfaceInventaire {
  position: absolute;
  z-index: 2;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  height: var(--height-interface);
  width: var(--largeur-stats-inventaire);
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  z-index: 1;
  right: var(--margin);
  top: var(--top-interface);
  border: 1.2vh ridge rgb(105, 105, 105);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.NameNom,
.ValeurNom,
.ValeurPrenom,
.ValeurPoids,
.ValeurArgent,
.NamePrenom,
.NamePoids,
.NameArgent,
.NameEnergie,
.ValeurEnergie,
.NameFaim,
.ValeurFaim,
.NameForce,
.ValeurForce,
.NameCovid,
.ValeurCovid,
.NameVivant,
.ValeurVivant,
.NameMeteo,
.ValeurMeteo,
.NameHumeur,
.ValeurHumeur,
.NameEnvironnement,
.ValeurEnvironnement,
.NameTemperature,
.ValeurTemperature {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  /* height: calc(var(--height-interface)/10.4); */
  width: calc(var(--largeur-stats-inventaire) / 2);
  color: rgb(0, 0, 0);
  z-index: 1;
  /* left: calc(var(--margin) + 0.5vw); */
  /* top: 16vh; */
  font-size: 3.2vh;
  border: solid;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.Nom,
.Prenom,
.Poids,
.Argent,
.Energie,
.Faim,
.Force,
.Covid,
.Vivant,
.Meteo,
.Humeur,
.Environnement,
.Temperature {
  display: flex;
  font-weight: bolder;
  flex: 1;
}

div.Histoire {
  position: relative;
  display: flex;
  opacity: 100%;
  height: 32vh;
  font-size: 3vh;
  font-weight: bold;
  border: solid;
  justify-content: center;
  white-space: pre-line;
  text-align: center;
  border: 1vh ridge rgb(105, 105, 105);
  align-items: center;
}

.Reponses,
.Divers {
  position: relative;
  display: flex;
  opacity: 100%;
  height: 15vh;
  font-size: 2vh;
  font-weight: bold;
  border: solid;
  justify-content: center;
  white-space: pre-line;
  text-align: center;
  border: 1vh ridge rgb(105, 105, 105);
}

.Reponses input,
.Divers input {
  white-space: inherit;
  width: 100%;
  font-size: 2.5vh;
}

.InterfaceInventaire div {
  border: solid;
  display: flex;
  width: 100%;
}

.InterfaceInventaire .NomTypeObjet,
.InterfaceInventaire .TypeObjet {
  width: 70%;
  justify-content: center;
  height: 6vh;
  align-items: center;
  font-size: 2.5vh;
}

.InterfaceInventaire .NomQuantite,
.InterfaceInventaire .Quantité {
  width: 30%;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
}

.NomTypeObjet,
.NomQuantite {
  font-weight: bolder;
  font-size: 3.6vh;
}

.Quantité {
  font-weight: bolder;
}

.popup-overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 4;
  background-color: #333;
  opacity: 0.75;
  justify-content: center;
  align-items: center;
  display: none;
}

.popup-container {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 4;
  justify-content: center;
  align-items: center;
  display: flex;
}

.popup-header {
  position: relative;
  z-index: 5;
  background-color: white;
  height: 54vh;
  width: 96vh;
  opacity: 1;
  justify-content: center;
}

.DemandeSupression {
  font-size: 5vh;
  font-weight: bolder;
  height: 10vh;
  background-color: #2e86c1;
  color: white;
  justify-content: center;
  align-items: center;
  position: revert;
  display: flex;
}

.popup {
  display: none;
}

.QTE {
  position: relative;
  z-index: 4;
  font-size: 10vh;
  left: 83vh;
  top: 2.5vh;
}

.QteASupprimer {
  font-size: 5vh;
  font-weight: bolder;
  top: 12vh;
  position: relative;
  left: 4vh;
}

.Valider {
  font-size: 8vh;
  top: 20vh;
  position: relative;
  left: 2vh;
  background: limegreen;
  width: 33vh;
}

.Valider:hover {
  background: green;
}

.Valider:active {
  background: limegreen;
}

.Annuler {
  font-size: 8vh;
  top: 20vh;
  position: relative;
  left: 8vh;
  background: rgb(255, 118, 118);
  width: 33vh;
}

.Annuler:hover {
  background: red;
}

.Annuler:active {
  background: rgb(255, 118, 118);
}

/*Les paramètres CSS pour la popup chargement*/

.popup-overlay-chargement,
.popup-charge-confirme,
.popup-container-chargement {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
}

.popup-overlay-chargement {
  background-color: #333;
  opacity: 0.75;
}

.popup-charge-confirme,
.popup-container-chargement {
  justify-content: center;
  align-items: center;
}

.popup-overlay-chargement.open {
  display: block;
}

.popup-charge-confirme.open,
.popup-container-chargement.open {
  display: flex;
}

.popup-chargmement {
  width: 600px;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
}

.popup-chargmement .popup-header {
  padding: 10px;
  background-color: #2e86c1;
  color: white;
  font-size: 18px;
}

.popup-chargmement .popup-content {
  padding: 10px;
}
